
@{
    ViewData["Title"] = "Okullar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@if (TempData["DeleteError"] != null)
{
    <div class="alert alert-danger">
        @TempData["DeleteError"]
    </div>
}
@model List<SchoolDetailDto>


<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Okul Id</th>

            <th>Okul Adı</th>
            <th>Bölüm Sayısı</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var school in Model)
        {
            <tr>
                <td>@school.Id</td>

                <td>@school.Name</td>
                <td>@school.Departments.Count</td>
                <td>
                    <a href="@Url.Action("Details", "AdminMvcSchool", new { id = school.Id })" class="btn btn-info">Detaylar</a>
                    <a href="@Url.Action("Edit", "AdminMvcSchool", new { id = school.Id })" class="btn btn-warning">Düzenle</a>
                    <form method="post" action="@Url.Action("Delete", "AdminMvcSchool", new { id = school.Id })" style="display:inline;">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Sil</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create", "AdminMvcSchool")" class="btn btn-primary">Okul Ekle</a>

