@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <h3 class="mb-0">@ViewBag.KullanıcıSayısı</h3>
                    </div>
                    <div class="col-3">
                        <div class="icon icon-box-success">
                            <span class="mdi mdi-account-multiple icon-item"></span>
                        </div>
                    </div>
                </div>
                <h6 class="text-muted font-weight-normal">Kullanıcı Sayısı</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <h3 class="mb-0">@ViewBag.OkulSayısı</h3>
                    </div>
                    <div class="col-3">
                        <div class="icon icon-box-info">
                            <span class="mdi mdi-domain icon-item"></span>
                        </div>
                    </div>
                </div>
                <h6 class="text-muted font-weight-normal">Okul Sayısı</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <h3 class="mb-0">@ViewBag.BölümSayısı</h3>
                    </div>
                    <div class="col-3">
                        <div class="icon icon-box-warning">
                            <span class="mdi mdi-google-classroom icon-item"></span>
                        </div>
                    </div>
                </div>
                <h6 class="text-muted font-weight-normal">Bölüm Sayısı</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <h3 class="mb-0">@ViewBag.DersSayısı</h3>
                    </div>
                    <div class="col-3">
                        <div class="icon icon-box-danger">
                            <span class="mdi mdi-book-open-variant icon-item"></span>
                        </div>
                    </div>
                </div>
                <h6 class="text-muted font-weight-normal">Ders Sayısı</h6>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <h3 class="mb-0">@ViewBag.RandevuSayısı</h3>
                    </div>
                    <div class="col-3">
                        <div class="icon icon-box-success">
                            <span class="mdi mdi-calendar-clock icon-item"></span>
                        </div>
                    </div>
                </div>
                <h6 class="text-muted font-weight-normal">Randevu Sayısı</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <h3 class="mb-0">@ViewBag.ÖgretmenSayısı</h3>
                    </div>
                    <div class="col-3">
                        <div class="icon icon-box-info">
                            <span class="mdi mdi-teach icon-item"></span>
                        </div>
                    </div>
                </div>
                <h6 class="text-muted font-weight-normal">Öğretmen Sayısı</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <h3 class="mb-0">@ViewBag.ÖgrenciSayısı</h3>
                    </div>
                    <div class="col-3">
                        <div class="icon icon-box-warning">
                            <span class="mdi mdi-school icon-item"></span>
                        </div>
                    </div>
                </div>
                <h6 class="text-muted font-weight-normal">Öğrenci Sayısı</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <h3 class="mb-0">@ViewBag.MessageSayısı</h3>
                    </div>
                    <div class="col-3">
                        <div class="icon icon-box-danger">
                            <span class="mdi mdi-bell-ring icon-item"></span>
                        </div>
                    </div>
                </div>
                <h6 class="text-muted font-weight-normal">Bildirim Sayısı</h6>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!-- Daily Line Chart (kaldı) -->
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card" style="min-height: 400px;">
            <div class="card-body">
                <h4 class="card-title">Son 7 Günün Randevuları</h4>
                <canvas id="dailyLineChart" style="height:300px;"></canvas>
            </div>
        </div>
    </div>

    <!-- Appointment Status Bar Chart (yeni) -->
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card" style="min-height: 400px;">
            <div class="card-body">
                <h4 class="card-title">Randevuların Durum Dağılımı</h4>
                <canvas id="statusBarChart" style="height:300px;"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-xl-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row justify-content-between">
                    <h4 class="card-title">Latest 5 Users</h4>
                    <p class="text-muted mb-1 small">View all</p>
                </div>
                <div class="preview-list">
                    @foreach (var user in ViewBag.LatestUsers as List<UserDto>)
                    {
                        <div class="preview-item border-bottom">
                            <div class="preview-thumbnail">
                                <img src="assets/images/faces/face6.jpg" alt="image" class="rounded-circle" />
                            </div>
                            <div class="preview-item-content d-flex flex-grow">
                                <div class="flex-grow">
                                    <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                        <h6 class="preview-subject">@user.UserName</h6>
                                        <p class="text-muted text-small">@user.Email</p>
                                    </div>
                                    <p class="text-muted">User description or message here.</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Latest 5 Schools</h4>
                <div class="preview-list">
                    @foreach (var school in ViewBag.LatestSchools as List<SchoolListDto>)
                    {
                        <div class="preview-item border-bottom">
                            <div class="preview-thumbnail">
                                <img src="assets/images/faces/face6.jpg" alt="image" class="rounded-circle" />
                            </div>
                            <div class="preview-item-content d-flex flex-grow">
                                <div class="flex-grow">
                                    <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                        <h6 class="preview-subject">@school.Id</h6>
                                        <p class="text-muted text-small">@school.Name</p>
                                    </div>
                                    <p class="text-muted">School description or message here.</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xl-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">To do list</h4>
                <div class="add-items d-flex">
                    <input type="text" class="form-control todo-list-input" placeholder="enter task..">
                    <button class="add btn btn-primary todo-list-add-btn">Add</button>
                </div>
                <div class="list-wrapper">
                    <ul class="d-flex flex-column-reverse text-white todo-list todo-list-custom">
                        <li>
                            <div class="form-check form-check-primary">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox"> Create invoice
                                </label>
                            </div>
                            <i class="remove mdi mdi-close-box"></i>
                        </li>
                        <li>
                            <div class="form-check form-check-primary">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox"> Meeting with Alita
                                </label>
                            </div>
                            <i class="remove mdi mdi-close-box"></i>
                        </li>
                        <li class="completed">
                            <div class="form-check form-check-primary">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox" checked> Prepare for presentation
                                </label>
                            </div>
                            <i class="remove mdi mdi-close-box"></i>
                        </li>
                        <li>
                            <div class="form-check form-check-primary">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox"> Plan weekend outing
                                </label>
                            </div>
                            <i class="remove mdi mdi-close-box"></i>
                        </li>
                        <li>
                            <div class="form-check form-check-primary">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox"> Pick up kids from school
                                </label>
                            </div>
                            <i class="remove mdi mdi-close-box"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/lib/chart.umd.js"></script>

    <script>
        // Daily Line Chart
        const dailyCounts = JSON.parse('@Html.Raw(ViewBag.DailyCountsJson)');
        const ctxLine = document.getElementById('dailyLineChart').getContext('2d');
        new Chart(ctxLine, {
            type: 'line',
            data: {
                labels: Object.keys(dailyCounts),
                datasets: [{
                    label: 'Appointments per Day',
                    data: Object.values(dailyCounts),
                    borderColor: 'rgba(75, 192, 192, 1)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    fill: true,
                    tension: 0.3,
                    pointRadius: 5
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: { display: true, position: 'top' }
                },
                scales: {
                    x: { title: { display: true, text: 'Tarih' } },
                    y: { title: { display: true, text: 'Randevu Sayısı' }, beginAtZero: true }
                }
            }
        });

        // Appointment Status Bar Chart
        const statusCounts = JSON.parse('@Html.Raw(ViewBag.StatusCountsJson)');
        const ctxBar = document.getElementById('statusBarChart').getContext('2d');
        new Chart(ctxBar, {
            type: 'bar',
            data: {
                labels: Object.keys(statusCounts),
                datasets: [{
                    label: 'Randevu Durumları',
                    data: Object.values(statusCounts),
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.7)',
                        'rgba(54, 162, 235, 0.7)',
                        'rgba(255, 206, 86, 0.7)',
                        'rgba(75, 192, 192, 0.7)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: { display: false }
                },
                scales: {
                    y: {
                        beginAtZero: true,
                        title: { display: true, text: 'Adet' }
                    },
                    x: {
                        title: { display: true, text: 'Durum' }
                    }
                }
            }
        });
    </script>
}
