@model List<UserDto>

@{
    ViewData["Title"] = "GetAllUsers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Email</th>
            <th>School</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.School</td>
                <td>@user.Department</td>
            </tr>
        }
    </tbody>
</table>
