
@{
    ViewData["Title"] = "Ders Güncelle"; Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model AcademicAppointmentAdminMvc.MvcProject.Dtos.CourseDtos.UpdateCourseDto

@{
    
    var departments = ViewBag.Departments as List<GetDepartmentDto>;
    var instructors = ViewBag.Instructors as List<UserDto>;
}

<h2>Ders Güncelle</h2>

<form method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label>Ders Adı</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label>Bölüm</label>
        <select asp-for="DepartmentId" class="form-control">
            @foreach (var department in departments)
            {
                <option value="@department.Id" selected="@(department.Id == Model.DepartmentId)">
                    @department.Name
                </option>
            }
        </select>
    </div>

    <div class="form-group">
        <label>Akademisyen</label>
        <select asp-for="InstructorId" class="form-control">
            @foreach (var instructor in instructors)
            {
                <option value="@instructor.Id" selected="@(instructor.Id == Model.InstructorId)">
                    @instructor.UserName
                </option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Güncelle</button>
    <a href="/AdminMvcCourse/Index" class="btn btn-secondary">İptal</a>
</form>
